<head>
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway:800,400" type: "text/css">
<style>
body {
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: black-grey;
  }
</style>
</head>

<div class="email">
  
<h3>Hi <%= @user.flickr_name %>, </h3>
  
<p>Great news for you. <%= @current_user.flickr_name %> just initiated a film swap with you! </p>

<p><%= link_to "If you fancy, message #{@current_user.flickr_name} through Flickr", "https://www.flickr.com/mail/write/?to=#{@current_user.uid}", target: '_blank'%></p>
<br>
<p>This email was sent from the Film Swapsters website.</p>
<p><a href="http://film-swap.herokuapp.com", target: '_blank'>film-swap.herokuapp.com</a></p>

<p>If you no longer wish to receive these emails, just head over to the website and opt out.</p>


</div>