.wrapper
  %h1 How it works
  %intro Double exposures are a fun way to collaborate on a photography project. One person shoots a roll of film, winds it back, sends it to another person who shoots the same roll of film. Results are often amazing and always surprising.

  .about
    %h3 Step 1:
    %p Sign up to this website and find a partner!

  .about
    %h3 Step 2:
    %p Shoot a roll of film. Wind it back. Send it to your partner.

  .about
    %h3 Step 3:
    %p Your partner will shoot over your exposures to create doubles. 
    
  .about
    %h3 Step 4:
    %p Your partner develops the roll of film and posts it to our Flickr group so you can see the outcome.

  %h2 The most recent additions to the Film swapsters group

  .flex_container
    = render partial: "pool_photo", collection: @pool_photos
     
  = form_tag about_path, remote: :true, id: :more_photos, method: :get do 
    = button_tag "See more"
    = hidden_field_tag :page, @page+1, id: :page_param
  