= image_tag "homepage_image.jpg", id: "homepage_image"
  
#homepage_container
  #homepage_overlay
    %h1 Film swapsters
    %h3 Find a partner for your next double exposure project
    %h3 
      = link_to "Find out more", about_path

