  @import "variables.css.scss";

  #homepage_image {
    z-index: 0;
    width: 100%;
    margin: 0 auto;
  }

#homepage_container {
  position: relative;

    #homepage_overlay {

    @media #{$desktop} {
      z-index: 10;
      max-width: 700px;
      max-height:400px;
      min-width:300px;
      min-height:100px;
      background-color: rgba(0, 0, 0, 0.3);
      position:fixed;
      top: 30%;
      left: 40%;
      margin-left: -270px;
      border-radius:30%;
      padding-left: 20px;
      padding-right: 20px;
    }

    @media (max-width: 1185px) {
      max-height: 300px;
    }

    @media (max-width: 920px) {
        max-height: 250px;
    }

    @media (max-width: 860px) {
        max-height: 220px;
    }
    @media #{$narrow} {
    z-index: 10;
    color: black;
  }

    h1 {
      font-size: 3em;
      font-family: 'Rock Salt', sans-serif;
      text-align: center;
      color: white;
      font-weight: bold;

      @media (max-width: 1185px) {
          font-size: 2.5em;
          text-align: center;
        }

      @media (max-width: 920px) {
        font-size: 2.3em;
        text-align: center;
      }
      @media (max-width: 860px) {
        font-size: 2.1em;
        text-align: center;
       }
    @media #{$desktop-narrow} {
    color: black;
      }
    }

    h3 {
     color:white;
     text-align: center;
     font-size: 2em;

     @media #{$desktop-narrow} {
     color: black;
       }

     @media (max-width: 1185px) {
       font-size: 1.5em;
       text-align: center;
         }
     @media (max-width: 920px) {
       font-size: 1.4em;
       text-align: center;
             }

     @media (max-width: 860px) {
       font-size: 1.1em;
       text-align: center;
         }
       @media #{$narrow} {
       color: black;
         }

       a {
        color:white;
     

      @media #{$desktop-narrow} {
      color: black;
        }
        }
    }


  } //closing homepage overlay
  } //closing homepage container
