@import "variables.css.scss";

#top { 
  vertical-align: baseline;

  nav {
    border-bottom: 3px solid grey;
    width: 100%;
    height: 65px;
    position:fixed;
    top: 0px;
    z-index: 50;
    background-color: rgba(255,255,255,0.8);

    .nav-icon {
      display:none;

  @media #{$eightfourty} {
      display: block;
      position: absolute;
      top: 10px;
      right: 20px;
      text-decoration: none;
      &:before { 
        content:'\2630'; 
        color: black;
        font-size: 2em;
        }
      }
    }

    #mobile-logo {
      display:none;

    @media #{$eightfourty} {
      padding-top: 15px;
      display:block;
      font-family: 'Rock Salt', sans-serif;
      color:black;
      text-decoration:none;

      &:hover {
        text-decoration: none;
        color:black;
      }
      }
    }

  ul#mobile {
    display:none;

    @media #{$eightfourty} {
    display: block;
    display:none;

    li {
      display:block;
      width: 100%;
      text-align: center;
      background-color:white;
      border-bottom: 2px solid black;
      text-transform: uppercase;
    }

    }
  }

    ul {
      padding-left: 0em;
      list-style:none;
      clear: both;
      height: 50px;
      line-height: 50px;
  
  @media #{$eightfourty} {
      display:none;
      }

    li {
      display: inline-block;
      list-style: none;
      font-weight:800;
      float: left;

    
      img {
        display: inline;
        vertical-align: middle;
      }
      
      &.login {
        float:right;
      }
      &#menu {
        float: right;
        text-align: right;
        background-color: white;

        ul {
          display: none;
          li {
            display: block;
            width: 100%;
          }
        }


        a {
          padding: 0.8em;
          text-decoration:none;
          color:inherit;

          &:hover {
            text-decoration: underline;
          }

          &:visited {
            color: inherit;
          }
        }
      }

      #logo {
        font-family: 'Rock Salt', sans-serif;
        display: inline;
        border-right: 2px solid #1C2126;
        margin: 5px;
        color:black;

        &:hover {
          text-decoration: none;
          color:black;
        }
      }

      a {
        padding: 0.5em;
        text-decoration:none;
        color:black;
      }

      a:hover {
        text-decoration: underline;
        color:inherit;
      }

      a:visited {
        color: inherit;

      }
    }
  } //closing nav ul
} //closing nav


#account {
  display:none;
  float: right;
}

} // closing top container

