body {
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  font-size: 16px;
  
  h1 {
    font-size: 2em;
  }

  h2 {
    font-size: 1.5em;
  }

  #homepage_image {
    width: 100%;
    margin: 0 auto;
  }
  
  #homepage_container {
    position: relative;


    #homepage_overlay {
      max-width: 700px;
      min-width:300px;
      min-height:100px;
      background-color: rgba(0, 0, 0, 0.3);
      position:fixed;
      top: 40%;
      left: 40%;
      margin-left: -270px;
      border-radius:30%;
      padding: 20px;


      h1 {
        font-size: 3em;
        font-family: 'Rock Salt', sans-serif;
        text-align: center;
        color: white;
        font-weight: bold;
      }
      h3 {
       color:white;
       text-align: center;
       font-size: 2em;
       a {
        color:white;
      }
    }
  }
}

#top { 
  vertical-align: baseline;

nav {
  height: 80px;
  border-bottom: 3px solid grey;

  ul {
    padding-left: 0em;
    list-style:none;
    // display: inline-block;

    li {
      padding-top: 2em;
      list-style:none;
      font-weight:800;

  #logo {
    font-family: 'Rock Salt', sans-serif;
    display: inline;
    border-right: 2px solid black;
    margin: 5px;

    a:hover {
      text-decoration: none;
    }
    }
      a {
        padding: 0.5em;
        text-decoration:none;
      }

      a:hover {
        text-decoration: underline;
      }

      a:visited {
        color: inherit;
      }
    }
  }
}



#login {
  height: 80px;
  float: right;
  display: inline-block;
  padding-right:1em;
  width: 10%;

#account {
  display:none;
}
}

}
.wrapper {
  width: 80%;
  margin: 0 auto;

  intro {
    display:block;
  }

  .about {
   max-width: 20%;
   min-width: 15%;
   display: inline-block;
   vertical-align: top;
 }

}

#edit {
  float: right;
}

.flex_container { 
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: baseline;

  .user_flickr_photos {
    padding: 5px;
    a {
      display: block;
    }
  }
}

.hidden_fields {
  display:none;
}

#map-canvas {
  height:300px;
  width:300px;
  float: right;
  display: inline-block;
}

.pool_photos {
  display: inline-block;
}

.pool_photo_owner {
  display: block;

}

#wait_overlay {
  max-height: 40%;
  max-width: 40%;
  top:20%;
  background-color: rgba(0, 0, 0, 0.3);
  position: absolute;
  padding:20px;
  color:gold;
}

.hidden {
  display:none;
}



footer {
  width: 70%;
  margin: 0 auto;
  font-size: 0.8em;
  padding-top: 2em;
  text-align: center;
}

input [type='submit'] {
  padding: 15px;

}

}

// Animation for loader

.loader {
  font-size: 10px;
  margin: 5em auto;
  text-indent: -9999em;
  width: 11em;
  height: 11em;
  border-radius: 50%;
  background: #ffffff;
  background: -moz-linear-gradient(left, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
  background: -webkit-linear-gradient(left, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
  background: -o-linear-gradient(left, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
  background: -ms-linear-gradient(left, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
  background: linear-gradient(to right, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
  position: relative;
  -webkit-animation: load3 1.4s infinite linear;
  animation: load3 1.4s infinite linear;
}
.loader:before {
  width: 50%;
  height: 50%;
  background: #FFF;
  border-radius: 100% 0 0 0;
  position: absolute;
  top: 0;
  left: 0;
  content: '';
}
.loader:after {
  background: #0dcecb;
  width: 75%;
  height: 75%;
  border-radius: 50%;
  content: '';
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
@-webkit-keyframes load3 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load3 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}


