@import "variables.css.scss";

body {
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #1C2126;
  min-height: 100%;

  h1 {
    font-size: 2em;
  }

  h2 {
    font-size: 1.5em;
  }

 

.wrapper {
padding-top: 50px;
width: 80%;
margin: 0 auto;
min-height: 100%;

    intro {
    display:block;
    }

} //closing wrapper

#edit {
float: right;
}

.flex_container { 
  display: flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;

flex-direction: row;
-webkit-box-direction: row;
-ms-flexbox-direction: row;
-webkit-flex-direction: row;

flex-wrap: wrap;
-webkit-box-wrap: wrap;
-ms-flexbox-wrap: wrap;
-webkit-flex-wrap: wrap;

justify-content: center;
-webkit-justify-content: center;
-ms-justify-content: center;align-items: baseline;
margin-bottom: 2em;


.pool_flickr_photos {
margin: 5px;

a {
display: block;
}
}


.about {
width: 200px;
height: 150px;
background-color: lightgrey;
padding:10px;
margin: 5px;

}

}

.hidden_fields {
display:none;
}

#map-canvas {
height:300px;
width:300px;
float: right;
display: inline-block;
}

.pool_photos {
display: inline-block;
}

.pool_photo_owner {
display: block;

}

#wait_overlay {
max-height: 40%;
max-width: 40%;
top:20%;
background-color: rgba(0, 0, 0, 0.3);
position: absolute;
padding:20px;
color:gold;
}

.hidden {
display:none;
}


input[type="text"], select {
  padding: 0.5em;
  font-family: inherit;
  font-size: 1em;
  width: 30%
}


#more_photos_button {
width: 100%;
margin: 0 auto;
position: center;
}

.match {
  background-color: lightgrey;
  max-width: 700px;
  padding: 0.5em;
}

}





