body {
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
  
  h1 {
    font-size: 2em;
  }

  h2 {
    font-size: 1.5em;
  }

  #homepage_image {
    width: 100%;
    margin: 0 auto;
  }
  
  #homepage_container {
    position: relative;

    #homepage_overlay {
      max-width: 700px;
      min-width:300px;
      min-height:100px;
      background-color: rgba(0, 0, 0, 0.3);
      position:fixed;
      top: 40%;
      left: 40%;
      margin-left: -270px;
      border-radius:30%;

      h1 {
        font-size: 3em;
        font-family: 'Rock Salt', sans-serif;
        text-align: center;
        color: white;
        font-weight: bold;
      }
      h3 {
       color:white;
       font-weight: bold;
       text-align: center;
       font-size: 2em;
       a {
        color:white;
      }
    }
  }
}

  nav {
    // float:left;
    // background-color: grey;
    // display: inline-block;
    border-bottom: 3px solid grey;


    ul {
      padding-left: 0em;
      list-style:none;
      display: inline-block;

      li {
        padding-top: 2em;
        list-style:none;

        a {
          padding: 0.5em;
        }

        a:hover {
          
        }
      }
    }


#login {
 //  float: right;
 // display: inline-block;
position:fixed;
right: 0px;
    // text-align: right;
    // // padding-bottom: 0.5em;
    // // padding-right:0.2em;
  }
}

.wrapper {
  width: 80%;
  margin: 0 auto;

  intro {
    display:block;
  }

  .about {
   max-width: 20%;
   min-width: 15%;
   display: inline-block;
   vertical-align: top;
 }

}

#edit {
  float: right;
}

.flex_container { 
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: baseline;

  .user_flickr_photos {
    padding: 5px;
    a {
      display: block;
    }
  }
}

.hidden_fields {
  display:none;
}

#map-canvas {
  height:300px;
  width:300px;
  float: right;
  display: inline-block;
}

.pool_photos {
  display: inline-block;
}

.pool_photo_owner {
  display: block;

}

footer {
  width: 70%;
  margin: 0 auto;
  font-size: 0.8em;
  padding-top: 2em;
  text-align: center;
}

input [type='submit'] {
  padding: 15px;

}

}

