body {
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: blackgrey;

  h1 {
    font-size: 2em;
  }

  h2 {
    font-size: 1.5em;
  }

 

.wrapper {
width: 80%;
margin: 0 auto;

    intro {
    display:block;
    }

    .about {
    max-width: 20%;
    min-width: 15%;
    display: inline-block;
    vertical-align: top;
    }

} //closing wrapper

#edit {
float: right;
}

.flex_container { 
display: flex;
flex-direction: row;
flex-wrap: wrap;
justify-content: center;
align-items: baseline;
margin-bottom: 2em;

.user_flickr_photos {
padding: 5px;
a {
display: block;
}
}
}

.hidden_fields {
display:none;
}

#map-canvas {
height:300px;
width:300px;
float: right;
display: inline-block;
}

.pool_photos {
display: inline-block;
}

.pool_photo_owner {
display: block;

}

#wait_overlay {
max-height: 40%;
max-width: 40%;
top:20%;
background-color: rgba(0, 0, 0, 0.3);
position: absolute;
padding:20px;
color:gold;
}

.hidden {
display:none;
}

// resetting button styling
input[type="submit"],
input[type="reset"],
input[type="button"],
button {
// background: none;
border: 0;
color: inherit;
cursor: pointer;
font: inherit;
line-height: normal;
overflow: visible;
padding: 0;
-webkit-appearance: button; /* for input */
-webkit-user-select: none; /* for button */
 -moz-user-select: none;
  -ms-user-select: none;
margin-top: 1em;
}

// button styling
input[type="submit"], button {
background: grey;
background-image: -webkit-linear-gradient(top, grey, blackgrey);
background-image: -moz-linear-gradient(top, grey, blackgrey);
background-image: -ms-linear-gradient(top, grey, blackgrey);
background-image: -o-linear-gradient(top, grey, blackgrey);
background-image: linear-gradient(to bottom, grey, blackgrey);
-webkit-border-radius: 4;
-moz-border-radius: 4;
border-radius: 4px;
font-family: inherit;
color: #ffffff;
font-size: 1em;
padding: 0.5em;
text-decoration: none;

&:hover {
background: #585858;
  background-image: -webkit-linear-gradient(top, #737373, #595959);
  background-image: -moz-linear-gradient(top, #737373, #595959);
  background-image: -ms-linear-gradient(top, #737373, #595959);
  background-image: -o-linear-gradient(top, #737373, #595959);
  background-image: linear-gradient(to bottom, #737373, #595959);
  text-decoration: none;
}
#more_photos_button {
margin: 0 auto;
position: center;
}
}

footer {
width: 70%;
margin: 0 auto;
font-size: 0.8em;
padding-top: 2em;
text-align: center;
}

#more_photos_button {
width: 100%;
margin: 0 auto;
position: center;
}

}





