body {
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
  
  h1 {
    font-size: 2em;
  }

  h2 {
    font-size: 1.5em;
  }

  #homepage_image {
    width: 100%;
    margin: 0 auto;
  }
  
  #homepage_container {
    position: relative;

    #homepage_overlay {
      max-width: 700px;
      min-width:300px;
      min-height:100px;
      background-color: rgba(0, 0, 0, 0.3);
      position:fixed;
      top: 25%;
      left: 40%;
      margin-left: -270px;
      border-radius:30%;

      h1 {
        font-size: 3em;
        font-family: 'Rock Salt', sans-serif;
        text-align: center;
        color: white;
        font-weight: bold;
      }
      h3 {
       color:white;
       font-weight: bold;
       text-align: center;
       font-size: 2em;
       a {
        color:white;
      }
    }
  }
}


header {
  background-color: grey;
  display: inline-block;
  // position:fixed;

  nav {
    float:left;

    ul {
      padding-left: 0em;
      list-style:none;
    

      li {
        padding-top: 2em;

        a {
          padding: 0.5em;
        }

        a:hover {
          background-color: rgba(0, 0, 0, 0.1)
        }
      }
    }
  }
  .login {
    display: inline-block;
    float:right;
    text-align:right;
    padding-bottom: 0.5em;
    padding-right:0.2em;
  }
}

.wrapper {
  width: 80%;
  margin: 0 auto;

  intro {
    display:block;
  }

  .about {
   max-width: 20%;
   min-width: 15%;
   display: inline-block;
   vertical-align: top;
 }

}

.flex_container { 
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: baseline;

  .user_flickr_photos {
    padding: 5px;
    a {
      display: block;
    }
  }
}

#map-canvas {
  height:300px;
  width:300px;
  float: right;
  display: inline-block;
}

.pool_photos {
  display: inline-block;
}

.pool_photo_owner {
  display: block;

}

footer {
  width: 70%;
  margin: 0 auto;
  font-size: 0.8em;
  padding-top: 2em;
  text-align: center;
}



}

