@import "variables.css.scss";
@import "bourbon";
@import "neat";


body {
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #1C2126;
  min-height: 100%;

  h1 {
    font-size: 2em;
  }

  h2 {
    font-size: 1.5em;
  }

 

.wrapper {
padding-top: 55px;
width: 80%;
margin: 0 auto;
min-height: 100%;

  intro {
  display:block;
  }


} //closing wrapper


.flex_container { 
  display: flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;

flex-direction: row;
-webkit-box-direction: row;
-ms-flexbox-direction: row;
-webkit-flex-direction: row;

flex-wrap: wrap;
-webkit-box-wrap: wrap;
-ms-flexbox-wrap: wrap;
-webkit-flex-wrap: wrap;

justify-content: center;
-webkit-justify-content: center;
-ms-justify-content: center;align-items: baseline;
margin-bottom: 2em;


.pool_flickr_photos {
margin: 5px;

a {
display: block;
}
}


.about {
width: 210px;
height: 180px;
background-color: lightgrey;
padding:10px;
margin: 5px;
}

}

#edit.neat {
  padding-bottom: 10px;
  @include outer-container;

  #edit_button.row1 {
    @include span-columns(3);
    width: 150px;
    margin-top: 20px;

  }

  #edit_button.row2 {
    @include span-columns(9);
    @include omega();
    width: 200px;
    margin-top: 20px;
  }
}

.outer {
  @include outer-container;
  

.location {
  @include span-columns(6);
  width: 300px;
  background-color: #f1f1f1;
  padding: 10px;
  margin-top: 10px;
  height: 350px;

  h3 {
    text-align: center;
  }

  #map-canvas {
    height:250px;
    width:250px;
    margin: 0 auto;
  }

  .hidden_fields {
  display:none;
  }
}

.film_formats{
  @include span-columns(6);
  @include omega();
  min-width: 300px;
  background-color: #f1f1f1;
  padding: 10px;
  min-height: 200px;
  margin-top: 10px;
  margin-right: 10px;

}
}

#user_profile{
  background-color: #f1f1f1;
  padding: 10px;
  margin-top: 10px;

  h2 {
    text-align: center;
  }
}

.pool_photos {
display: inline-block;
}

.pool_photo_owner {
display: block;

}

#wait_overlay {
max-height: 40%;
max-width: 40%;
top:30%;
background-color: rgba(0, 0, 0, 0.4);
position: absolute;
padding:20px;
color:white;
}

.hidden {
display:none;
}


input[type="text"], select {
  padding: 0.5em;
  font-family: inherit;
  font-size: 1em;
  width: 30%
}


#more_photos_button {
width: 100%;
margin: 0 auto;
position: center;
}

.match {
  background-color: lightgrey;
  max-width: 700px;
  padding: 0.5em;
}





h4.notice, h4.alert {
  color: red;
  background-color: rgba(237, 237, 237, 0.8);
  padding: 10px;
  height: 30px;
  min-width: 200px;
  z-index:100;
  position: absolute;
  top: 10%;
  right: 5%;
}


} //closing body tag




