
// for media queries
$desktop: "screen and (min-width:1024px)"; 
$desktop-narrow: "screen and (max-width:1024px) ";
$iphone5: "screen and (min-device-width : 320px) and (max-device-width : 568px)";
$narrow: "screen and (max-width:600px) ";