
// variables for media queries
$desktop: "screen and (min-width:1024px)"; 
$desktop-narrow: "screen and (max-width:1024px) ";
$iphonefive: "screen and (min-device-width : 320px) and (max-device-width : 568px)";
$eightfourty: "screen and (max-width:885px) ";
$narrow: "screen and (max-width:600px) ";